<<<<<<< HEAD:scss/main.scss
body {
    background-color: lightblue;
}

td {  
    padding: 10px;
    border:1px solid black;
}

.clicked {
    background-color: gold;
}
=======
@import 'vars';
@import 'base';



// components
>>>>>>> effa957aab93e4e0602f86def40fa7ecf21461a1:scss/myStyle.scss
